USE [master]
GO
/****** Object:  Database [tpReg_java]    Script Date: 30/9/2016 11:28:43 a. m. ******/
CREATE DATABASE [tpReg_java]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tpReg_java', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\tpReg_java.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tpReg_java_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\tpReg_java_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tpReg_java].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tpReg_java]
GO
/****** Object:  User [java]    Script Date: 30/9/2016 11:28:43 a. m. ******/
CREATE USER [java] FOR LOGIN [java] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [java]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [java]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [java]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [java]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [java]
GO
ALTER ROLE [db_datareader] ADD MEMBER [java]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [java]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [java]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [java]
GO
/****** Object:  Table [dbo].[personajes]    Script Date: 30/9/2016 11:28:44 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[personajes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[defensa] [int] NOT NULL,
	[energia] [int] NOT NULL,
	[evasion] [int] NOT NULL,
	[vida] [int] NOT NULL,
	[pto_totales] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
